body {
	width: 100%;
	overflow: auto;
	

}


p {

	letter-spacing: -0.03em;

}

.container-fluid {
	width: 100%; 
	margin: none;
	padding: 0 !important;
	background-color: #49fb35;
}

.header {
	text-align: left!important;
	overflow: hidden;
	padding: 0.5em;
	float: left;			
	position: absolute;
	font-size: 2rem;
	color: white;
	z-index: 1;
	top:1vw; 
	left: 3%;
}



img {
	width: 100%; 
	max-height: 100%;
	z-index: -1
}

.collapse img {
	width: 100%; 
	max-height: 100%;
	z-index: 1
}


.imgpop {

	width: 50%;
	z-index: 3;
	text-align: left!important;	 
	float: left;	
	background-color: none;
	position: absolute;
	box-shadow:  30px 30px 20px white;
	
}


/*Image One*/
#collapseOneImg  {transition: none;position: absolute;}
/*Image Two*/
#collapseTwoImg {transition: none;position: absolute;}
/*Image Three*/
#collapseThreeImg {transition: none;position: absolute;}
/*Image Four*/
#collapseFourImg {transition: none;position: absolute;}
/*Image Five*/
#collapseFiveImg {transition: none;position: absolute;}
/*Image Six*/
#collapseSixImg {transition: none;position: absolute;}
/*Image Seven*/
#collapseSevenImg {transition: none;position: absolute;}
/*Image Eight*/
#collapseEightImg {transition: none;position: absolute;}
/*Image Nine*/
#collapseNineImg {transition: none;position: absolute;}
/*Image Ten*/
#collapseTenImg {transition: none;position: absolute;}
/*Image Elev*/
#collapseElevImg {transition: none;position: absolute;}
/*Image Twelv*/
#collapseTwelvImg {transition: none;position: absolute;}
/*Image Thir*/
#collapseThirImg {transition: none;position: absolute;}
/*Image Fourt*/
#collapseFourtImg {transition: none;position: absolute;}
/*Image Fift*/
#collapseFiftImg {transition: none;position: absolute;}
/*Image Sixt*/
#collapseSixtImg {transition: none;position: absolute;}
/*Image Sevent*/
#collapseSeventImg {transition: none;position: absolute;}
/*Image Eighth*/
#collapseEighthImg {transition: none;position: absolute;}


/*one*/

#collapseOne {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: helvetica;
	font-size: 17px;
	max-width: 60vw;	

}

#collapseOne p{

	color: #49fb35
	
}





#collapseOne-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: Times;
	font-style: italic;
	font-size: 19px;
	max-width: 50vw;	
	
	
}

#collapseOne-T p{

	color: white;
	
}


/*two*/

#collapseTwo {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: helvetica;
	font-size: 17px;
	max-width: 60vw;	
	/*font-style: italic;*/
	
}

#collapseTwo p{

	color: #49fb35
	
}

#collapseTwo-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: times;
	font-style: italic;
	font-size: 19px;
	max-width: 50vw;	
	font-style: italic;
	border-radius: 50% / 10%;
	
}

#collapseTwo-T p{

	color: white;
	
}

/*three*/

#collapseThree {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: Helvetica;
	font-size: 17px;
	max-width: 60vw;	
	/*font-style: italic;*/
	
}

#collapseThree p{

	color: #49fb35
}

#collapseThree-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: times;
	font-size: 19px;
	max-width: 50vw;	
	font-style: italic;
	border-radius: 50% / 10%;
	
}

#collapseThree-T p{

	color: white;
	
}

/*foue*/

#collapseFour {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: helvetica;
	font-size: 17px;
	max-width: 60vw;	
	/*font-style: italic;*/
	
}

#collapseFour p{

	color: #49fb35
}

#collapseFour-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: times;
	font-size: 19px;
	max-width: 50vw;	
	font-style: italic;
	border-radius: 50% / 10%;
	
}

#collapseFour-T p{

	color: white;
	
}

/*five*/

#collapseFive {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: Helvetica;
	font-size: 17px;
	max-width: 60vw;	
	/*font-style: italic;*/
	
}

#collapseFive p{

	color: #49fb35
}

#collapseFive-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: times;
	font-size: 19px;
	max-width: 50vw;	
	font-style: italic;
	border-radius: 50% / 10%;
	
}

#collapseFive-T p{

	color: white;
	
}

/*six*/

#collapseSix {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: Helvetica;
	font-size: 17px;
	max-width: 60vw;	
	/*font-style: italic;*/
	
}

#collapseSix p{

	color: #49fb35
}

#collapseSix-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: times;
	font-size: 19px;
	max-width: 50vw;	
	font-style: italic;
	border-radius: 50% / 10%;
	
}

#collapseSix-T p{

	color: white;
	
}

/*seven*/

#collapseSeven {

	z-index: 1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: Helvetica, sans-serif;
	font-size: 17px;
	max-width: 60vw;	
	/*font-style: italic;*/
	
}

#collapseSeven p{

	color: #49fb35
}

#collapseSeven-T {

	z-index: -1;
	text-align: left!important;	 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-family: times;
	font-size: 19px;
	max-width: 50vw;	
	font-style: italic;
	border-radius: 50% / 10%;
	
}

#collapseSeven-T p{

	color: white;
	
}

.collapse p{

	/*font-size: 2rem;*/
	/*color: white!important;*/
}

.animation {
	/*border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;*/
	/*animation: morphingone 8s infinite;*/
	text-align: left!important;
 	height: 3vw;
	/*width: 4%;*/
	overflow: hidden;
	max-width: 40em; 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	font-size: 1.2vw;
	color: #49fb35;
	z-index: 1;
	
}



/*#collapseImgOne {

	
		 
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	
	
	max-width: 100%;	
	font-style: italic;
	
}*/

.popupone {
	padding: 0.5em;
	float: left;	
	background-color: none;
	position: absolute;
	max-width: 100%;	
	z-index: 1;
}



.dot {

	width: 1vw;
	height: 1vw;
	background-color: #49fb35;
	z-index: -1;
	text-align: left!important;	 
	/*padding: 0.5em;*/
	float: left;	
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(73 251 53 0);	
	transform: scale(1);
	animation: pulse-black 2s infinite;


}


@keyframes pulse-black {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(73, 251, 53, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(73, 251, 53, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(73, 251, 53, 0);
	}
}


.dotimg {

	width: 1vw;
	height: 1vw;
	background-color: #001aff;
	z-index: -1;
	text-align: left!important;	 
	/*padding: 0.5em;*/
	float: left;	
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(181 179 255 0);	
	transform: scale(1);
	animation: pulse-white 2s infinite;


}


@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(181,179,255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(181,179,255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(181,179,255, 0);
	}
}

.dotgroup {

	width: 1vw;
	height: 1vw;
	background-color: white;
	z-index: -1;
	text-align: left!important;	 
	/*padding: 0.5em;*/
	float: left;	
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(181 179 255 0);	
	transform: scale(1);
	animation: pulse-yellow 2s infinite;



}


@keyframes pulse-yellow {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(181,179,255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(181,179,255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(181,179,255, 0);
	}
}


/*ul {
 list-style: none;
}
ul li {
 background: url(../images/bullet.png) no-repeat top left;
 background-position: 1 0.3vw;
 line-height: 2;

 font-size: 1.2vw;
 padding: 0 0 0px 2vw;
 margin-left: 1vw;
 font-family: 'IBM Plex Mono', monospace;
}*/



/*@keyframes morphingone {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 15px 15px 50px rgba(77,124,192,0.2);
  }

  25% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
    box-shadow: -10px -5px 50px rgba(77,124,192,0.2);
  }

  50% {
    border-radius: 50% 50% 33% 67% / 55% 27% 73% 45%;
    box-shadow: -10px -5px 50px rgba(77,124,192,0.2);
  }

  75% {
    border-radius: 33% 67% 58% 42% / 63% 68% 32% 37%;
    box-shadow: -10px -5px 50px rgba(77,124,192,0.2);
  }*/


.btn {

	width: 1vw;
	height: 1vw;
	background-color: #001aff;
	z-index: -1;
	text-align: left!important;	 
	/*padding: 0.5em;*/
	float: left;	
	position: absolute;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(181 179 255 0);	
	transform: scale(1);
	animation: pulse-white 2s infinite;

}



